@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-weight: 600;
  font-family: 'MyFont';
  font-style: normal;
  src:
    url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
}

body {
  font-family: 'MyFont', sans-serif;

  background: url('./williams.jpg') 50% no-repeat;
  background-size: cover;

  transition: all 0s;
}

::placeholder {
  color: gray;
}
